@{ ViewData["Title"] = "WinterExcitement"; }

<body>
	 <main class="mt-5">
        <div class="container" id="BGFiled">
            <div class="container mt-4 mb-2">
                <h1 class="display-3"><strong>Winter excitement in the Alps</strong></h1>
            </div>
            <div class="container py-2">
                <div class="row align-itmes-center justify-content-between">
                    <div class="col-lg p-4">
                        <h2>The first great trip</h2>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>Price:</td>
                                    <td>€ 500 per person</td>
                                </tr>
                                <tr>
                                    <td>Region:</td>
                                    <td>Region 1</td>
                                </tr>
                                <tr>
                                    <td>Ideal for:</td>
                                    <td>People of all ages</td>
                                </tr>
                                <tr>
                                    <td>Amount of days:</td>
                                    <td>7 - One week</td>
                                </tr>
                            </tbody>
                        </table>
                        <p><strong>Short Description</strong></p>
                        <p>
                        <p>
                            You will experience the beauty of winter in the middle of Alps. Various ski runs and thermal
                            baths await you.We will provide you an accommodation close to both attractions and a one
                            weekly ticket for skiing!
                        </p>
                        <p><strong>More Information</strong></p>
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia voluptatum sit iusto
                            minus id culpa eveniet exercitationem ullam, ducimus molestiae cum quas minima. Dignissimos
                            ratione suscipit placeat illum. Impedit laboriosam fuga ad, quas vel adipisci sequi tempora
                            laudantium et omnis, iusto quis quasi natus rerum dolores consequatur eveniet ratione eaque
                            itaque iste enim beatae! Est voluptatibus sed ipsum dolore corporis repudiandae, impedit eum
                            voluptatum, natus consequuntur reprehenderit, nam animi commodi similique repellat. Quia
                            accusantium delectus impedit aspernatur aperiam error nulla!
                        </p>
                        <a href="book.html" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Book
                            Now!</a>
                    </div>
                    <div class="col-md d-flex align-itmes-center">
                        <div class="thumbnail">
                            <a style="text-align:center;">
                                <img src="pictures/winter excitement1.jpg" class="rounded mx-auto d-block"
                                    alt="Skiing picture" width="500" height="375">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>