@{
    ViewData["Title"] = "Home Page";
}

<body>
 <main class="mt-5">
    <Section>
      <!--Main Slideshow-->
      <div class="container my-3">
        <div id="SlideshowIndex" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="pictures/Wegkreuz oberhalb Diensthütte.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="pictures/Gipfelhang gg Sölkpass und Greim gezoomt.jpg" class="d-block w-100" alt="...">
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#SlideshowIndex" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#SlideshowIndex" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>

          </button>
        </div>
      </div>
      </div>
    </Section>

    <section>
      <!--Description-->
      <div class="container" id="BGFiled">
        <div class="col-md p-4">
          <h1>About This Site</h1>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat velit eius suscipit tempora, culpa omnis
            exercitationem! Ut porro quae incidunt consectetur omnis debitis ducimus quaerat cupiditate assumenda illo
            dolore voluptates numquam hic dolorum vel, dolorem minima quas soluta nihil laudantium. Et aliquid
            recusandae vel dolores officia. Aspernatur saepe magni, numquam tempore earum sunt reiciendis aliquam non
            molestias odit est obcaecati, dolores placeat? Minima deserunt, voluptates sequi vel, nemo, repudiandae
            exercitationem ipsum neque tempore ut quaerat cumque. Est velit facere, vero, libero debitis reprehenderit
            ipsam officia excepturi ad non animi placeat asperiores recusandae id molestias dolore aspernatur culpa
            rerum sunt! Repellat cum consectetur, sunt velit neque reiciendis nesciunt? Animi sunt, nulla illum nobis
            nostrum error laboriosam sit doloremque natus, corporis dolorum odit eum laborum. Vitae velit cupiditate
            illo, deleniti pariatur ratione delectus perspiciatis quibusdam sequi corporis ipsum eligendi officiis
            beatae quia sapiente ad, ducimus unde officia tempora voluptatum laboriosam. Accusamus, excepturi!
          </p>
        </div>
      </div>
    </section>

    <section>
      <!--Image of the first Region | See if this looks better as a slideshow-->
      <div class="container d-flex justify-content-center mb-2 mt-4">
        <img src="/pictures/altstadt murau.jpg" class="d-block" width="90%" alt="...">
      </div>
      <!--Description of the first Region-->
      <div class="container" id="BGFiled">
        <div class="col-md p-4">
          <h2><a href="/Regions/Region1.html">Murau</a></h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae sapiente, saepe commodi aliquid id, obcaecati,
            ducimus earum maxime accusantium aut fuga exercitationem ab voluptatum. Necessitatibus libero minus ab
            recusandae consequuntur ea error omnis enim quisquam ad alias dolorem fugiat, maxime hic dignissimos
            provident porro optio rem quasi. Obcaecati reiciendis aspernatur totam quibusdam perspiciatis perferendis,
            veritatis nulla nisi ratione earum illo cupiditate pariatur eligendi amet? Repellendus alias possimus
            quidem. Magnam quam numquam quae debitis deleniti inventore, doloremque illum natus nisi, tenetur commodi
            perspiciatis accusamus, esse unde quasi incidunt sint assumenda! Cumque commodi reprehenderit velit
            laudantium voluptates animi, obcaecati ut doloremque aliquam!
          </p>
        </div>
      </div>
    </section>
    <section>
      <!--Image of the second Region-->
      <div class="container d-flex justify-content-center mb-2 mt-4">
        <img src="pictures/Gipfel Zirbitzkogel_nordwest.jpg" class="d-block" width="90%" alt="...">
      </div>
      <!--Description of the second Region-->
      <div class="container" id="BGFiled">
        <div class="col-md p-4">
          <h2><a href="/Regions/Region2.html">Murtal</a></h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae sapiente, saepe commodi aliquid id, obcaecati,
            ducimus earum maxime accusantium aut fuga exercitationem ab voluptatum. Necessitatibus libero minus ab
            recusandae consequuntur ea error omnis enim quisquam ad alias dolorem fugiat, maxime hic dignissimos
            provident porro optio rem quasi. Obcaecati reiciendis aspernatur totam quibusdam perspiciatis perferendis,
            veritatis nulla nisi ratione earum illo cupiditate pariatur eligendi amet? Repellendus alias possimus
            quidem. Magnam quam numquam quae debitis deleniti inventore, doloremque illum natus nisi, tenetur commodi
            perspiciatis accusamus, esse unde quasi incidunt sint assumenda! Cumque commodi reprehenderit velit
            laudantium voluptates animi, obcaecati ut doloremque aliquam!
          </p>
        </div>
      </div>
    </section>
    <section>
      <!--Image of the second Region-->
      <div class="container d-flex justify-content-center mb-2 mt-4">
        <img src="pictures/Wegkreuz oberhalb Diensthütte.jpg" class="d-block" width="90%" alt="...">
      </div>
      <!--Description of the third Region-->
      <div class="container" id="BGFiled">
        <div class="col-md p-4">
          <h2><a href="/Regions/Region3.html">West-Steiermark</a></h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae sapiente, saepe commodi aliquid id, obcaecati,
            ducimus earum maxime accusantium aut fuga exercitationem ab voluptatum. Necessitatibus libero minus ab
            recusandae consequuntur ea error omnis enim quisquam ad alias dolorem fugiat, maxime hic dignissimos
            provident porro optio rem quasi. Obcaecati reiciendis aspernatur totam quibusdam perspiciatis perferendis,
            veritatis nulla nisi ratione earum illo cupiditate pariatur eligendi amet? Repellendus alias possimus
            quidem. Magnam quam numquam quae debitis deleniti inventore, doloremque illum natus nisi, tenetur commodi
            perspiciatis accusamus, esse unde quasi incidunt sint assumenda! Cumque commodi reprehenderit velit
            laudantium voluptates animi, obcaecati ut doloremque aliquam!
          </p>
        </div>
      </div>
    </section>
  </main>
</body>