/*.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }*/

#BGHead {
    color: #322e2f;
    background-color: #f8f9fa;
}

#BGBottom {
    color: #f8f9fa;
    background-color: #322e2f;
}

#BGFiled {
    color: black;
    background-color: #f8f4eb;
}

#BGFiled2 {
    color: black;
    background-color: #768f9b;
}

#BGBody {
    background: linear-gradient(to bottom, #ffffff 0%, #322e2f 100%);
}

h2 {
    text-transform: capitalize;
}

    h2 a {
        text-decoration: none;
        color: black;
    }

html {
    scroll-padding-top: 100vw;
}

#Regions {
    text-align: center;
    letter-spacing: 0.1em;
}

#BGTrip {
    background-color: rgb(233, 233, 233);
}

a#Trips {
    text-decoration: none;
    color: black;
}

.nav-link.btn {
    text-decoration: none;
    color: #322e2f;
}

.navbar-brand {
    color: #322e2f;
}

#BGPowerblue {
    background-color: powderblue;
}

div.col-sm-6 {
    height: 400px;
    margin-bottom: 25px;
    float: left;
}

div.picture {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    margin-top: 7px;
    margin-left: 10px;
    margin-right: 5px;
}

h3 {
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

p.beginning {
    margin-top: 25px;
}
