@{
    ViewData["Title"] = "Murtal";
}
<body>
     <main class="mt-5">
        <section>
            <!--A description of the Area-->
            <div class="container" id="BGFiled2">
                <div class="container">
                    <h1 class="display-2" id="Regions"><strong>Murtal</strong></h1>
                </div>

                <div class="container my-3">
                    <div id="SlideshowIndex" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="../pictures/Gipfel Zirbitzkogel_nordwest.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="../pictures/Gstodergipfel Blick Nord.jpg" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#SlideshowIndex"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#SlideshowIndex"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
                <div class="container pt-2">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum molestias repudiandae dolorem
                        laboriosam recusandae, fugit sit optio minus explicabo voluptatibus voluptas, rem a nam tempora
                        aspernatur autem. Fugiat voluptatum minus iste nihil eum iusto odit magnam architecto odio,
                        alias voluptates nobis inventore quia, exercitationem omnis dolores dolore voluptatem blanditiis
                        est quidem. Placeat ab deleniti rem, expedita earum ipsam eveniet? Quo ad quae soluta fuga
                        facilis suscipit vero possimus laudantium! Blanditiis repellat ea aut asperiores laboriosam
                        corrupti quae, quos autem perspiciatis quo iure quibusdam eligendi voluptatum nostrum possimus
                        doloremque reiciendis aliquid laborum adipisci illum, id quidem fuga alias consectetur? Labore,
                        aut.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas optio voluptatem tempore, et
                        fuga illo commodi modi, harum adipisci iure reprehenderit vitae veniam quis voluptatibus neque
                        praesentium laborum suscipit ex assumenda dolores repudiandae mollitia? Quia, corrupti.
                        Laudantium, blanditiis. Aperiam sed vitae laudantium, magnam officiis cupiditate expedita sunt
                        eveniet minus necessitatibus, iste veniam ratione, odit quaerat earum aut quibusdam nobis enim
                        fuga assumenda velit quas exercitationem labore praesentium. Maiores officiis dicta rerum,
                        fugiat eius, animi quo aliquam earum fugit in assumenda.</p>
                </div>
            </div>
        </section>

        <section>
            <!--The Trips available for the area-->
            <div class="container mt-4 mb-2" >
                <h1 class="display-3"><strong>Trips and Activities</strong></h1>
            </div>
            <div class="container py-2" id="BGFiled">
                <a href="#" id="Trips">
                    <div class="row align-itmes-center justify-content-between">
                        <div class="col-lg p-4">
                            <h2>The frist trip to beat them all</h2>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius, provident labore!
                                Consectetur, ullam. Modi quos repudiandae omnis at doloremque assumenda ut, velit,
                                consequuntur accusamus magnam quis repellat illo? Officia iure iusto dolorum praesentium
                                fugiat, deserunt reiciendis mollitia suscipit dolore voluptatum. Ipsam enim, minima
                                eveniet
                                iusto quia sunt nobis maiores mollitia error. Delectus magni nostrum ducimus
                                voluptatibus
                                porro eaque eum quaerat tenetur dignissimos veniam? Quis sunt optio odit provident
                                reiciendis dicta autem odio sed saepe dolores aspernatur doloremque veniam unde alias ea
                                debitis quisquam aperiam libero nisi tempora velit, fugit nobis esse error. Culpa libero
                                placeat voluptate dolorum vel nostrum aliquid?
                            </p>
                        </div>
                        <div class="col-md d-flex align-itmes-center">
                            <img src="../pictures/Gipfel Zirbitzkogel_nordwest.jpg" alt="" class="img-fluid">
                        </div>
                    </div>
                </a>
            </div>


            <div class="container py-2" id="BGFiled2">
                <a href="#" id="Trips">
                    <div class="row align-itmes-center justify-content-between">
                        <div class="col-lg p-4">

                            <h2>The head-0bangingly good event</h2>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius, provident labore!
                                Consectetur, ullam. Modi quos repudiandae omnis at doloremque assumenda ut, velit,
                                consequuntur accusamus magnam quis repellat illo? Officia iure iusto dolorum praesentium
                                fugiat, deserunt reiciendis mollitia suscipit dolore voluptatum. Ipsam enim, minima
                                eveniet
                                iusto quia sunt nobis maiores mollitia error. Delectus magni nostrum ducimus
                                voluptatibus
                                porro eaque eum quaerat tenetur dignissimos veniam? Quis sunt optio odit provident
                                reiciendis dicta autem odio sed saepe dolores aspernatur doloremque veniam unde alias ea
                                debitis quisquam aperiam libero nisi tempora velit, fugit nobis esse error. Culpa libero
                                placeat voluptate dolorum vel nostrum aliquid?
                            </p>
                        </div>
                        <div class="col-md d-flex align-itmes-center">
                            <img src="../pictures/Gstodergipfel Blick Nord.jpg" alt="" class="img-fluid">
                        </div>
                    </div>
                </a>
            </div>
        </section>
    </main>
</body>