@{
    ViewData["Title"] = "Hotels";

}
<body>
        <main class="mt-5">
        <div class="container">
            <div class="row">
                <div class="col-sm-6" id="BGFiled">
                    <h3><b>Winter excitement in Alps</b></h3>
                    <p class="beginning">Duration: 7 days</p>
                    <p>Price: 700 euro/person</p>
                    <p>
                        You will experience the beauty of winter in the middle of Alps. Various ski runs and thermal
                        baths await you.
                        We will provide you an accommodation close to both attractions and a one weekly ticket for
                        skiing!
                    </p>
                    <!--Button-->
                    <a href="Winter excitement.html" class="btn btn-primary btn-lg active" role="button"
                        aria-pressed="true">Click for more info</a>
                </div>

                <div class="col-sm-6  picture" id="BGFiled">
                    <div class="thumbnail">
                        <a style="text-align:center;">
                            <img src="pictures/winter excitement1.jpg" class="rounded mx-auto d-block"
                                alt="Skiing picture" width="500" height="375">
                        </a>
                    </div>
                </div>

                <div class="col-sm-6" id="BGFiled">
                    <h3><b>Spa in Alps</b></h3>
                    <p class="beginning">Duration: 5 days</p>
                    <p>Price: 700 euro/person</p>
                    <p>
                        Have you ever dreamed about relax in a snow paradise surrounded by mountains?
                        That means this offer is for you! This package offers you an accommodation in a spa hotel
                        surrounded by Alps.
                        The price contains accommodation in a hotel with an amazing view and a swimming pool,
                        jacuzzi, sauna
                        and everyday massages.
                    </p>
                    <!--Button-->
                    <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Click for
                        more info</a>
                </div>

                <div class="col-sm-6 picture" id="BGFiled">
                    <a style="text-align:center;">
                        <img src="pictures/spa1.jpg" alt="Spa picture" width="500" height="375">
                    </a>
                </div>

                <div class="col-sm-6" id="BGFiled">
                    <!--Text-->
                    <h3><b>Weekend in Alps</b></h3>
                    <p class="beginning">Duration: 3 days</p>
                    <p>Price: 300 euro/person</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                    <!--Button-->
                    <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Click for
                        more info</a>
                </div>
                <!--Picture for this row-->
                <div class="col-sm-6 picture" id="BGFiled">
                    <a style="text-align:center;">
                        <img src="pictures/weekend1.jpg" alt="Skiing picture" width="500" height="375">
                    </a>
                </div>

                <div class="col-sm-6" id="BGFiled">
                    <h3><b>Family skiing in Alps</b></h3>
                    <p class="beginning">Duration: 7 days</p>
                    <p>Price: 500 euro/person</p>
                    <p>
                        Does your family love to spend the winter break in an active way? Do your children and you
                        love skiing?
                        Do you want to be in an amazing place surrounded by mountains? This ofer is for you! We will
                        book you a hotel with two meals
                        breakfast and dinner and provide all necessary information about attractions in the area for
                        you and your children.
                    </p>
                    <!--Button-->
                    <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Click for
                        more info</a>
                </div>
                <div class="col-sm-6 picture" id="BGFiled">
                    <a style="text-align:center;">
                        <img src="pictures/family skiing1.jpg" alt="Skiing family picture" width="500" height="375">
                    </a>
                </div>
            </div>
        </div>
    </main>
</body>